*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Public Sans', monospace;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

ul {
    list-style: none;
}