/* RODAPE */
.rodape {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
    gap: 20px;
    width: 1910px;
    height: 200px;
    margin-top: 100px;
    background-color: antiquewhite;

}

.logo{
    width: 300px;
    height: 90px;
    margin-top: 50px;
    margin-left: 180px;
}

.titulop {
    display: flex;
    align-items: center; 
    margin-left: 100px;
    font-size: 25px;
    margin-top: 20px;
     font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
    

}

.funcionamento {
    display: flex;
    flex-direction: column; 
    text-align: center;
}

.semana {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 30px;
}

.segunda, .sabado, .domingo {
    text-align: center;
    
}

.dia{
     font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
}

.horario{
   margin-top: 15px; 
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.icos {
    margin-top: 150px;
    display: flex;
    gap: 20px;
}

.icos .ico{
    width: 25px; 
    height: 25px ;
     font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
}

/* RODAPE */

