
/* PRINCIPAL */

.principal {
    background-image: url('../img/Fundo\ \(2\).png');
    background-repeat: no-repeat;
    width: 1910px;
    height: 680px;
    margin-top: 14px;
}

.principal .conteudo{
    position: relative;
    display: flex;
    text-align: left;
    margin-left: 60px;
    padding: 250px 200px;
}

.principal .conteudo .titulo1{
    font-size: 60px;
    color: white;
     font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
 
}
    

.principal .conteudo .titulo2{
    font-size: 60px;
    color: #F25E12;
    font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
}

.principal .conteudo .titulo3{
    font-size: 30px;
    color:white;
    position: absolute;
    right: 35px;
    top: 510px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;
    
    
}

.principal .conteudo .titulo4{
    font-size: 30px;
    color: #F25E12;
    position: absolute;
    right: 95px;
    top: 550px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;
}

.principal .conteudo .promo{
    height: 85px;
    position: absolute;
    right: 50px;
    top: 0px;
}

.principal .conteudo .botao{
    background-color: #D81919;
    color: white; 
    padding: 20px 20px;        
    cursor: pointer;     
    font-size: 20px; 
    position: absolute;
    right: 65px;
    top: 600px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;
    
}

/* PRINCIPAL */


/* SOBRE */
.carousel-container {
  position: relative;
  width: 1910px;
 height: 800px;
  margin-top: 20px;
  overflow: hidden;

}

/* slides */
.slides {
  display: flex;
  width: 1910px;
 height: 800px;
 
  transition: transform 0.6s ease;
}

.slide1 {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  background-color: #D1406A;
}

.slide2 {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  background-color: #F25E12;
}

.h1{
    font-size: 30px;
    color: #fff;
    margin-bottom: 50px;
    font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;

}

.p{
    font-size: 20px;
    color: #fff;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;

}


input[type="radio"] {
  display: none;
}

/* movimentação */
#slide-1:checked ~ .slides {
  transform: translateX(0%);
}
#slide-2:checked ~ .slides {
  transform: translateX(-100%);
}

/* setas */
.control-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.control-arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* esquerda */
.prev {
  left: 10px;
}
.prev::before {
  transform: translate(-50%, -50%) rotate(225deg);
}

/* direita */
.next {
  right: 10px;
}

/* Esconde todas as setas inicialmente */
.controls label {
  display: none;
}

/* Mostra apenas as setas certas conforme o slide */
#slide-1:checked ~ .controls .next-1 {
  display: block;
}
#slide-2:checked ~ .controls .prev-2 {
  display: block;
}

/* SOBRE */


/* COISAS */
.coisas{
    display: flex;
    gap: 20px;
    width: 1910px;
    height: 680px;
    margin-top: 14px;
    flex-direction: column; 
    align-items: center; 
}


.titulos{
    display: flex; 
    justify-content: center; 
    margin: 10px;
    
}

.coisas .titulo{
    font-size: 50px;
    margin-top: 80px;
    font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;

}

.coisas .titulo2{
    font-size: 50px;
    color: #F25E12;
    margin-top: 80px;
    margin-left: 30px;
    font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
    
}

.cartas{
    max-width: 1200px; 
    display: flex;
    flex-wrap: wrap; 
    gap: 50px; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 80px ;
    margin-top: 100px; 
   
}

.ig{
     border-radius: 10px;
    
}

.flip-card-inner {

    width: 280px;
    height: 280px;
    text-align: center;
    transition: transform 0.8s; 
    transform-style: preserve-3d; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    
}

/* 3. O giro real do card ao passar o mouse */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* 4. Estilos para os dois lados do card (frente e verso) */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 280px;
    height: 280px;
    backface-visibility: hidden; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
}


/* 6. Estilos do Verso */
.flip-card-back {
    background-color:#F25E12; 
    transform: rotateY(180deg); 
    position: relative; 
    padding: 0; 
    overflow: hidden; 
}


.flip-card-back .sobre3{
  font-size: 14px;
  /* font-family: ; */
  color: rgb(255, 255, 255);
  padding: 32px;
 font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;
}
/* 7. ESTILO PARA A IMAGEM NO VERSO */

.flip-card .flip-card-inner .img-verso{
  border-radius: 10px;
}

.flip-card-back .img-verso {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0;
    left: 0;
    object-fit: cover; 
    z-index: 1; 
    /* border-radius: 85px; */
}

/* 8. ESTILO PARA O TEXTO NO VERSO */
.flip-card-back h2, .flip-card-back p {
    z-index: 2; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; 
      border-radius: 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5); 
}

/* COISAS */


/* MODALIDADE */
.modalidade{
    display: flex;
    gap: 20px;
    width: 1910px;
    height: 1000px;
    margin-top: 14px;
    flex-direction: column; 
    align-items: center; 
}

.titulos{
    display: flex; 
    justify-content: center; 
    margin: 10px;
}

.titulo{
    font-size: 50px;
    font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
}

.titulo2{
    font-size: 50px;
    color: #F25E12;
    margin-left: 30px;
    font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
    
}

.mod{
    display: flex; 
    justify-content: center;
    gap: 80px ;
    margin-top: 50px; 
}

.mod1{
    position: relative;
    width: 350px;
    height: 750px;
    border-radius: 12px;
    box-shadow: 0 4px 8px #F25E12 ;
}

.imagem1 {
    width: 350px;
    height: 400px;
    background-image: url('../img/yoga.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex;         
    align-items: center;   
    justify-content: center; 
    position: relative;
    border-radius: 12px 12px 0 0; 
}

.imagem1 .nome{
    color: rgb(255, 255, 255);      
    text-align: center;    
    position: absolute;    
    bottom: 20px;        
    width: 100%;  
    font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;        
}

.mod2{
    position: relative;
    width: 350px;
    height: 750px;
    border-radius: 12px;
    box-shadow: 0 4px 8px #F25E12 ;
}

.imagem2 {
    width: 350px;
    height: 400px;
    background-image: url('../img/hiit.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex;         
    align-items: center;   
    justify-content: center;
    position: relative;
    border-radius: 12px 12px 0 0;
}

.imagem2 .nome{
    color: rgb(255, 255, 255);      
    text-align: center;    
    position: absolute;    
    bottom: 20px;        
    width: 100%;      
    font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;    
}

.mod3{
    position: relative;
    width: 350px;
    height: 750px;
    border-radius: 12px;
    box-shadow: 0 4px 8px #F25E12 ;
}

.imagem3 {
    width: 350px;
    height: 400px;
    background-image: url('../img/dança.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex;         
    align-items: center;   
    justify-content: center;
    position: relative;   
    border-radius: 12px 12px 0 0;
}

.imagem3 .nome{
    color: rgb(255, 255, 255);      
    text-align: center;    
    position: absolute;    
    bottom: 20px;        
    width: 100%;    
    font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;      
}

.icones{      
    display: flex;        
    align-items: center;  
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}

.icones .icone{
    height: 40px ;
    width: 40px ;
}

.ic{
    display: flex;        
    align-items: center;  
    justify-content: center;
    gap: 25px;
    margin-top: 15px;
    margin-left: 18px;
}

.ic .ics{
    font-size: 15px;
     font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;      
}

.inf{
    display: flex;        
    align-items: center;  
    justify-content: center;
    gap: 50px;
    margin-top: 3px;
    margin-right: 10px;
    
}

.infs{
    font-size: 13px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;
}

.mod .texto{
    text-align: center; 
    margin-top: 18px;
    padding: 10px;    
    width: 100%; 
    font-size: 17px;  
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.mod .saiba{
    text-align: center; 
    margin: 20px 0;   
    font-size: 24px;   
    font-weight: bold;
    color: #F25E12;  
    font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
}

/* MODALIDADE */

/* PLANOS */
.planos{
    display: flex;
    gap: 20px;
    width: 1910px;
    height: 800px;
    margin-top: 14px;
    flex-direction: column; 
    align-items: center; 
}

.plan{
    display: flex; 
    justify-content: center;
    gap: 80px ;
    margin-top: 50px; 
}

.plano1{
    background-color: #F25E12;
    position: relative;
    width: 350px;
    height: 650px;
    border-radius: 12px;
    box-shadow: 0 4px 8px #F25E12 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 15px;
}


.ti1 {
    font-size: 30px; 
    margin-top: 20px;
    font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
}

.tex1 {
    font-size: 18px; 
    color: #000000;
    text-align: center;
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.ti2 {
    font-size: 20px; 
    color: black;
    margin-top: 40px;
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.ti3 {
    font-size: 40px; 
    color: black;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;    
}

.botao1 {
    background-color: #D81919;
    color: white; 
    border: none; 
    border-radius: 35px; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    margin: 30px;
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.botao1:hover {
    background-color: #D1406A; 
}

.plano1 .lista{
    list-style: url('../img/check\ 1.png');
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plano1 .lista .bene{
    padding-left: 10px;
    font-size: 15px;
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.plano2{
    background-color: #ffffff;
    position: relative;
    width: 350px;
    height: 650px;
    border-radius: 12px;
    box-shadow: 0 4px 8px #F25E12 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 15px;
}


.ti1 {
    font-size: 30px; 
    margin-top: 20px; 
    font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
}

.tex1 {
    font-size: 18px; 
    color: #000000; 
    text-align: center;
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.ti2 {
    font-size: 20px; 
    color: #000000;
    margin-top: 40px;
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.ti3 {
    font-size: 40px; 
    color: #000000; 
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.botao1 {
    background-color: #D81919;
    color: white; 
    border: none; 
    border-radius: 35px; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    margin: 30px;
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.botao1:hover {
    background-color: #D1406A; 
}

.plano2 .lista{
    list-style: url('../img/check\ 1.png');
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plano2 .lista .bene{
    padding-left: 10px;
    font-size: 15px;
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.plano3{
    background-color: #ffffff;
    position: relative;
    width: 350px;
    height: 650px;
    border-radius: 12px;
    box-shadow: 0 4px 8px #D1406A ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 15px;
}


.ti1 {
    font-size: 30px; 
    margin-top: 20px;
    
}

.tex1 {
    font-size: 18px; 
    color: #000000; 
    text-align: center;
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.ti2 {
    font-size: 20px; 
    color: #000000;
    margin-top: 40px;
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.ti3 {
    font-size: 40px; 
    color: #000000; 
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.botao1 {
    background-color: #D81919;
    color: white; 
    border: none; 
    border-radius: 35px; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    margin: 30px;
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

.botao1:hover {
    background-color: #D1406A; 
}
.plano3 .lista{
    list-style: url('../img/check\ 1.png');
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plano3 .lista .bene{
    padding-left: 10px;
    font-size: 15px;
     font-family: "Lexend Deca", sans-serif;
    font-weight: 100px;   
}

/* PLANOS */





